<!doctype html>
<html lang="en" ng-app="NarrowItDownApp">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
<body>
   <div ng-controller='NarrowItDownController as menu'>
    <h1>Narrow Down Your Chinese Menu Choice</h1>
    
    <div>test {{menu.actualAction}}</div>

    <div class="form-group">
      <input type="text" placeholder="search term" class="form-control" ng-model="menu.searchTerm">
    </div>
    <div class="form-group narrow-button">
      <button class="btn btn-primary" ng-click="menu.getItems();">Narrow It Down For Me!</button>
    </div>
    
    <!--h3>Found List Directive</h3>
<ol>
  <li ng-repeat="item in menu.found">
    {{ item }} 
    <button ng-click="menu.onRemove({index: $index});">Narrow it</button>
  </li>
</ol-->


    <found-items found="menu.found" on-remove="menu.removeItem(index)"></found-items>
  </div>

</body>
</html>
